VITE_EMAILJS_SERVICE_ID=your_emailjs_service_id
VITE_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
VITE_EMAILJS_PUBLIC_KEY=your_emailjs_public_key

VITE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key
VITE_RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key

VITE_TUYA_API_BASE_URL=https://openapi.tuyaeu.com
VITE_TUYA_DEVICE_ID=your_tuya_device_id
VITE_TUYA_CLIENT_ID=your_tuya_client_id
VITE_TUYA_SECRET=your_tuya_secret
VITE_TUYA_EASY_ACCESS_TOKEN=your_easy_access_token
VITE_TUYA_EASY_REFRESH_TOKEN=your_refresh_token

# Set to true when using local proxy server
VITE_TUYA_USE_PROXY=true

VITE_API_BASE_URL=http://localhost:3001