VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=

VITE_RECAPTCHA_SITE_KEY=
VITE_RECAPTCHA_SECRET_KEY=

VITE_TUYA_API_BASE_URL=
VITE_TUYA_DEVICE_ID=
VITE_TUYA_CLIENT_ID=
VITE_TUYA_SECRET=
VITE_TUYA_EASY_ACCESS_TOKEN=
VITE_TUYA_EASY_REFRESH_TOKEN=

# set to true in frontend during development when using proxy
VITE_TUYA_USE_PROXY=true